<div class="header">
    <div class="w">
        <div class="search-con">
            <input class="search-input" id="search-input" placeholer="请输入商品名称"/>
            <button class="btn search-btn" id="search-btn">搜索</button>
            <div class="my-cart">
                <a class="link" href="./cart.html">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                    <span style="font-size: 17px;">我的购物车(<span class="cart-count">0</span>)</span>
                </a>
            </div>
            <ul class="search-link">
                <li>
                    <a class="link-text" target="_blank" style="color: red;">立减1212</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=数码">数码</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=电脑">电脑</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=办公配件">办公配件</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=电视">电视</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=空调">空调</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=冰箱">冰箱</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=洗衣机">洗衣机</a>
                </li>
                <li>
                    <a class="link" target="_blank" href="./list.html?keyword=厨卫家电">厨卫家电</a>
                </li>
            </ul>
        </div>
    </div>
</div>
