/*
* @Author: UsingLove
* @Date:   2017-09-24 07:49:14
* @Last Modified by:   UsingLove
* @Last Modified time: 2017-09-28 09:03:16
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}